h1{
	color: green;
	text-align: center;
}
h2{
	color: blue;
	text-decoration: underline;
	margin-left: 365px;
}
.noidung{
    font-weight: bold;
    margin-left: 365px;
}
.mẹ{

	font-size: 25px;
	text-align: center;
	color: #FF1493;
	font-weight: bold;
	background-color: pink;
	width: 640px;
	margin-left: 365px;
	margin-top: 20px;
}

.bàithơ{

	margin-top: 20px;
	background-color: #FFE7BA;
	height: 400px;
	width: 640px;
	margin-left: 365px;
}

.bàithơ .bài1{
	text-align: center;
	color: blue;
	line-height: 6px;
	padding-top: 0.2px;
	font-style: italic;
}
.bàithơ .bài2{
	text-align: center;
	color: #CD3700;
	line-height: 6px;
	padding-top: 0.2px;
	font-style: italic;
}
.bàithơ .bài3{
	text-align: center;
	color: #008B00;
	line-height: 6px;
	padding-top: 0.2px;
	font-style: italic;
}


